h1 {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  font-style: italic;
  text-decoration: none;
  padding: 20px;
  margin: 0;
  grid-column: span 12;
  background-image: linear-gradient(to bottom, #267ba8, #0076c4, #006ede, #0061f2, #004afd, #0047fa, #0045f6, #0042f3, #0055e3, #005fcc, #0064b0, #2c6692);
}

h2 {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  color: #0000ff;
  padding: 0px 10px 10px 10px;
  grid-column: span 12;
  border-bottom: 3px solid #0000ff;
}

nav {
  grid-column: span 12;
  background-image: linear-gradient(to bottom, #267ba8, #0076c4, #006ede, #0061f2, #004afd, #0047fa, #0045f6, #0042f3, #0055e3, #005fcc, #0064b0, #2c6692);
}

nav ul {
  list-style-type: none;
  font-family: helvetica;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

nav li {
  width: 220px;
  margin: 0;
  padding: 0;
  border-right: 3px solid #0000ff;
  text-decoration: none;
  display: inline-block;
}

nav li a {
  color: #ADD8E6;
  padding: 10px;
  width: 200px;
  background-color: #ff0000;
  display: inline-block;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #267ba8, #0076c4, #006ede, #0061f2, #004afd, #0047fa, #0045f6, #0042f3, #0055e3, #005fcc, #0064b0, #2c6692);
}

nav li a:hover {
  color: #ffffff;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #a82626, #b92323, #c91e1f, #da181a, #ea1012, #ef1917, #f5201c, #fa2621, #f53531, #f0413e, #ea4c4b, #e35656);
}

a {
  text-decoration: none;
  color: #ADD8E6;
}

a:hover {
  color: #ffffff;
}

main {
  grid-column: span 12;
  padding: 10px;
}

p {
  font-family: Georgia;
  margin: 10px;
  padding: 10px;
  grid-column: span 12;
}


footer {
  border-top: #0000ff;
  background-color: #ff0000;
  grid-column: span 12;
  border-top: 5px solid #0000ff;
  padding: 10px;
}

.p1 {
  padding: 10px;
  margin: 0px;
}

.spanstyle {
  color: #FF0000;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.justify {
  text-align: justify;
}

.floatleft {
  width: 400px;
  float: left;
  border: 3px solid #0000ff;
  margin: 10px 20px 20px 20px;
}

.floatlefttwo {
  width: 282px;
  float: left;
  border: 3px solid #0000ff;
  margin: 10px 10px 10px 15px;
}

.floatright {
  width: 400px;
  float: right;
  border: 3px solid #0000ff;
  margin: 10px 20px 20px 20px;
}


#wrapper {
  margin: 1em auto;
  padding: 0px;
  width: 960px;
  border: 5px solid #0000ff;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
