body {
  background-image: url(a5bg.png);
}

h1 {
  padding: 25px;
  background-color: #ffffff;
  font-family: helvetica;
  font-weight: normal;
}

h2 {
  padding: 10px 10px 10px 0;
  border-bottom: 3px solid #000000;
  background-color: #ffffff;
  font-family: helvetica;
  font-weight: bold;
}

nav ul {
  list-style-type: square;
  margin:0;
  padding: 0;
  text-decoration: none;
  font-weight: normal;
}

nav li {
  display: inline-block;
  padding: 7px;
  margin: 7px;
  width: 150px;
  text-decoration: none;
  font-weight: normal;
}

nav li a {
  color: #ffffff;
  padding: 10px;
  background-color: #000175;
  display: block;
  text-decoration: none;
  font-weight: normal;
}

nav li a:hover {
  background-color: #004ccc;
  text-decoration: none;
  color: #ffffff;
  font-weight: normal;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #ff0000;
  text-decoration: underline;
}

footer {
  border: 3px solid #ffffff;
  padding: 10px;
  padding-top: 10px;
  margin: 10px;
  background-color: #000175;
  font-family: Verdana;
  font-weight: bold;
  font-style: italic;
  color: #ffffff;
}

#border {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
}

.textcenter {
  text-align: center;
}
